pandas
jupyter
opencv
skimage
pylab
scikit-image~=0.18.1
numpy~=1.20.2
cpbd~=1.0.7
webcolors~=1.11.1
scipy~=1.6.2
pybdm~=0.1.0
torch
torchvision
ujson
numba
image-quality
pywavelets
# git+https://github.com/mertyyanik/pyleargist-python3.git
tqdm
lightning-bolts
scikit-learn
xgboost
requests